<div class="grid mt-5 mb-5">
    <div class="col-5 flex justify-content-end">
        <img style="width: 400px;" src="../../../../../assets/Certificado.jpeg" alt="">
    </div>
    <div class="col-7 pl-3 pr-5">
        <h3>Obtenga un certificado de estudios</h3>
        <ul class="pr-5">
            <li>Reconocimiento Profesional: Este certificado valida tus habilidades avanzadas en el uso del torno, lo que te distingue como un profesional capacitado en técnicas especializadas de manicura.
            </li>
            <li>Confianza del Cliente: Los clientes tienden a confiar más en profesionales que cuentan con certificaciones que respaldan su formación y experiencia,</li>
            <li>Diferenciación en el Mercado: este certificado te ayuda a destacar, mostrando que estás comprometido con la mejora continua y la excelencia en el servicio.</li>
          </ul>
          
    </div>
</div>