@import '../../../../styles.scss';

.information{
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.transparent-border {
    background-color: transparent; /* Fondo transparente */
    border: 2px dotted #ccc; /* Borde de puntos */
    border-radius: 8px; /* Opcional: redondea las esquinas */
    padding: 20px; /* Opcional: agrega espacio dentro del contenedor */
  }
  
  .input-height {
    height: 80px; /* Ajusta el valor según la altura que prefieras */
  }
  

:host ::ng-deep{
    .p-button.p-button-secondary{
        color: $primary-color;
        background: #ffffff;
        border: 2px solid $primary-color;
    }
    .p-button.p-button-contrast{
        color: white;
        background: $primary-color;
        border: 2px solid $primary-color;
    }

    .p-button{
        color: white;
        background: $primary-color;
        border: 2px solid $primary-color; 
    }

}
/* Estilos CSS personalizados */
:host ::ng-deep .p-carousel {
    overflow: hidden; /* Evita el scroll en el carrusel */
    height: auto; /* Ajusta la altura automáticamente */
  }
  
  :host ::ng-deep .p-carousel-item {
    display: flex;
    justify-content: center; /* Centra las imágenes */
    align-items: center; /* Centra verticalmente */
  }
  
  :host ::ng-deep .p-carousel img {
    max-height: 400px; /* Cambia esta altura según necesites */
    width: auto; /* Mantiene la relación de aspecto */
    border-radius: 10px; /* Borde redondeado para las imágenes */
  }
  :host ::ng-deep .p-dialog-content {
    overflow: hidden; /* Evita el scroll en el contenido del diálogo */
    padding: 0; /* Ajusta el padding si es necesario */
  }
  
  :host ::ng-deep .p-dialog {
    height: auto; /* Asegúrate de que la altura se ajuste automáticamente */
  }
    

.curso-container{
    padding-top: 120px;
    padding-bottom: 50px;
}