<div class="grid p-0 m-0">
  <div class="bg_auth h-screen"></div>
  @if (currentRoute === '/auth/login') {
      <div class="bg_login flex justify-content-center align-items-center">
        <auth-login/>
      </div>
    }
    @else{
      <div class="bg_login flex justify-content-center align-items-center">
        <auth-register/>
      </div>
    }
</div>
<div class="grid justify align-items-center academy" style="width: 400px">
  <div class="col-2 xl:col-3">
    <img
      (click)="onDashboard()"
      src="../../../../assets/Logo.svg"
      alt=""
      class="pl-3"
    />
  </div>
  <div
    class="col-10 xl:col-9 flex justify-content-center xl:justify-content-start"
  >
    <h1>ZATYA ACADEMIA</h1>
  </div>
</div>
