@import '../../styles.scss';

.bg_auth {
    background-image: url("../../assets/auth.svg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    width: 50%;
  }
  
  @media (max-width: 920px) {
    .bg_auth {
      left: 0px;
      width: 100%;
      position: absolute !important;
      z-index: -1;
    background-image: url("../../assets/auth.svg");
    }
  
  
    .bg_auth::before {
      position: relative !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      pointer-events: none;
    }
  }

  .bg_login{
    width: 50%; 
  }

  @media (max-width: 920px) {
    .bg_login {
      margin-top: 35px;
      width: 100%;
    }
  
  }
  .academy{
    cursor: pointer;
  }

  @media (max-width: 920px) {
    .academy {
        display: none !important;

    }
  }

  .justify {
    position: absolute;
    top: 0;  /* Ajusta según sea necesario */
    left: 0;  /* Ajusta según sea necesario */
    width: 400px;  /* Asegúrate de que el ancho coincida con tus necesidades */
    z-index: 10;  /* Asegura que esté por encima de otros elementos */
  }
