@import '../../../styles.scss';

.header {
    background-color: white;
    transition: box-shadow 0.3s ease;
}
  
.header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1);
}

img{
    cursor: pointer;
}
:host ::ng-deep{
    .p-button.p-button-secondary{
        color: $primary-color;
        background: #ffffff;
        border: 2px solid $primary-color;
    }
    .p-button.p-button-contrast{
        color: white;
        background: $primary-color;
        border: 2px solid $primary-color;
    }


    .p-card-content{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}