<p-card>
    <div class="grid">
        <div class="col-2">
            <div class="initial-circle">
                {{ initial }}
              </div>
        </div>
        <div class="col-7 flex flex-column ">
                <span class="pl-3 name">{{name}}</span>
                <span class="pl-3 role">{{role}}</span>
        </div>
        <div class="col-3 flex align-items-center justify-content-start">
            <p-dropdown 
        [options]="options" 
        optionLabel="name" 
        placeholder=" " 
        (onChange)="logout()" />
        </div>
    </div>
</p-card>