<div class="grid flex">
  <div class="col-12">
    <h5 class="flex justify-content-center mb-0">CURSOS DISPONIBLES</h5>
    <h1 class="flex justify-content-center mt-0">Recomendados</h1>
  </div>
</div>
<p-carousel
  [value]="filteredProducts"
  [numVisible]="4"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
  [ngClass]="{ 'align-left': isLessThanFour }"
>
  <ng-template let-product pTemplate="item">
    <div class="carousel-item border-1 surface-border m-2" (click)="viewProduct(product.id)">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            [src]="product.image"
            [alt]="product.name"
            class="product-image"
          />
        </div>
      </div>
      <div class="px-5 mb-3 text-center">
        <div class="font-medium">{{ product.name }}</div>
        <div class="mt-0 mb-2 font-semibold text-xl">{{ "$" + product.price }}</div>
        <p-button label="AGREGAR AL CARRITO"></p-button>
        <p-rating [(ngModel)]="product.rating" [cancel]="false" [disabled]="true"></p-rating>
        <span class="ml-2" style="font-size: 25px;">{{ product.rating }}</span>
      </div>
    </div>
  </ng-template>
</p-carousel>

