<h1 class="flex justify-content-center">¿ Sueñas con dominar el arte de las uñas y</h1>
    <h1 class="flex justify-content-center">convertirte en un profesional </h1> 
    <h1 class="flex justify-content-center">recononido?</h1>
<p  class="flex justify-content-center">Te ofrecemos una experiencia única para explorar y perfeccionar tus habilidades en el</p>
<p  class="flex justify-content-center">    fascinante mundo de las uñas </p>
<div class="grid Card">
    <div class="col-4">
        <img class="cardLeft" src="../../../../../assets/aboutUs-1.svg" alt="">
    </div>
    <div class="col-4">
        <img class="pb-4" src="../../../../../assets/aboutUs-2.svg" alt="">
        <img src="../../../../../assets/aboutUs.svg" alt="">
    </div>
    <div class="col-4">
        <img class="cardRightTop pb-4" src="../../../../../assets/aboutUs-4.svg" alt="">
        <img class="cardRightBottom" src="../../../../../assets/aboutUs-3.svg" alt="">
    </div>
</div>