@import '../../../../../styles.scss';

h1{
    font-family: $primary-font;
    color: $tertiary-color;
    margin: 0px;
}
p{
    margin: 0px;
}
 
.Card{
    margin : 100px;
    margin-top: 10px;
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.cardLeft{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.cardRightTop{
    border-top-right-radius: 25px;
}
.cardRightBottom{
    border-bottom-right-radius: 25px;
}