<div class="grid pb-5">
  <div class="col-6 flex justify-content-end">
    <img src="../../../../../assets/contact-us.svg" alt="" />
  </div>
  <div class="col-6 flex flex-column pl-5">
    <h1>Despeja tus dudas aca</h1>
    <p>Dejanos tu correo y consulta para recibir asistencia personalizada</p>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-user" />
      <input type="text" pInputText placeholder="Ingresa tu nombre" />
  </p-iconField>
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-envelope" />
    <input type="text" pInputText placeholder="Ingresa tu mail" />
</p-iconField>
<p-iconField iconPosition="left">
  <p-inputIcon styleClass="pi pi-search" />
  <input type="text" pInputText placeholder="¿En que podemos ayudarte?" />
</p-iconField>
<p-button label="Enviar" severity="contrast"/>
  </div>
</div>
