<div class="grid pt-5">
    <div class="col-4 text-center">
      <div class="image-container">
        <img src="../../../../../assets/category1.svg" alt="" class="category-img" />
        <h1 class="category-title">En vivo</h1>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="image-container">
        <img src="../../../../../assets/category2.svg" alt="" class="category-img" />
        <h1 class="category-title">Presencial</h1>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="image-container">
        <img src="../../../../../assets/category3.svg" alt="" class="category-img" />
        <h1 class="category-title">Pregrabado</h1>
      </div>
    </div>
  </div>  