@import '../../../../../styles.scss';

.fondo {
    background: linear-gradient(to right, pink 60%, transparent), url('../../../../../assets/fondoDashboard.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
  }
  
.filter{
    background-color: white;
    border-radius: 55px;
}
/* Estilo para el input con borde solo en la parte inferior */
.underline-input {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    padding: 0.5rem 0;
  }

:host ::ng-deep{
    .p-button{
        color: #ffffff;
        font-weight: bold;
        background: $primary-color;
        border: none;
        border-radius: 35px;
        padding-left: 40px;
        padding-right: 25px;
        height: 65px;
    }

    .p-dropdown{
        border: none;
    }
    .p-button {
      display: flex;      
      justify-content: center;    
      align-items: center;    
  }
  
  .p-button .pi {                
      margin-right: 12px;         
  }
  
}