<div class="fondo">
    <div class="grid" style="padding: 60px">
      <div class="col-12 pl-5 pt-5">
        <h1
          style="
            font-size: 55px;
          "
        >
          ¡Aprende, crea y <br />
          deslumbra con <br />
          tu uñas!
        </h1>
        <p>
          ¡Únete a nuestros cursos de uñas y descubre cómo convertir <br />
          tu talento en una profesión exitosa, con técnicas avanzadas y <br />
          creatividad ilimitada!
        </p>
      </div>
      <div class="col-8 pl-5">
        <div class="grid filter">
          <div class="col-5 pl-5">
            <h3 class="mt-2 mb-0 pl-3">Nombre del curso</h3>
            <input
              class="ml-3 underline-input"
              type="text"
              pInputText
              placeholder="Buscar por nombre del curso"
              [(ngModel)]="courseName" 
            />
          </div>
          <div class="col-4">
            <h3 class="mt-2 mb-0 pl-3">Conocimiento previo</h3>
            <p-dropdown 
            class="pl-3"
              [options]="mappedKnowledgeLevels" 
              [(ngModel)]="selectedKnowledgeLevel" 
              placeholder="Selecciona un nivel" 
              [showClear]="true" 
            />
          </div>
          <div class="col-2 flex justify-content-center align-items-center">
            <p-button 
            label="Buscar" 
            icon="pi pi-check" 
            [loading]="loading" 
            (onClick)="searchProducts()">
        </p-button>
                  </div>
          <div class="col-1 flex justify-content-center align-items-center">
            <p-button icon="pi pi-times"  [disabled]="!canClearFilters()" (click)="clearFilters()"/>
          </div>
        </div>
      </div>
    </div>
  </div>