<div class="p-5">
  <h1 style="color: black">{{ product?.Title }}</h1>
  <div style="width: 80%; margin: 0 auto">
    <div class="grid p-3">
      <!-- Imagen principal -->
      <div class="col-9 p-0">
        <video
          style="
            border-radius: 30px;
            width: 100%;
            height: 500px;
            object-fit: cover;
          "
          src="../../../../assets/videos/Prueba1.mp4"
          alt="Product Image"
          class="mb-3"
          controls
        >
          Tu navegador no soporta el formato de video.
        </video>
      </div>

      <!-- Columnas de imágenes pequeñas -->
      <div class="col-3 flex flex-column pl-3 p-0">
        @for(image of randomImages; track image){
        <div>
          <img
            [src]="image"
            alt="Random Image"
            style="
              cursor: pointer;
              width: 90%;
              height: 115px;
              margin-bottom: 13px;
              border-radius: 15px;
              object-fit: cover;
            "
            (click)="showImage(image)"
          />
        </div>
        }
      </div>

      <div class="grid p-3">
        <div class="col-3">
          <p-card class="flex justify-content-center mt-2">
            <p class="information">Informacion</p>
            <div class="grid">
              <div class="col-1">
                <span class="pi pi-clock"></span>
              </div>
              <div class="col-11 flex justify-content-center">
                <p class="m-0">20hs</p>
              </div>
            </div>
            <div class="grid">
              <div class="col-1">
                <span class="pi pi-calendar"></span>
              </div>
              <div class="col-11 flex justify-content-center">
                <p class="m-0">2 clases semanales de 2hs</p>
              </div>
            </div>
            <div class="grid">
              <div class="col-1">
                <span class="pi pi-book"></span>
              </div>
              <div class="col-11 flex justify-content-center">
                <p class="m-0">En vivo - Pregrabado</p>
              </div>
            </div>
            <div class="grid">
              <div class="col-1">
                <span class="pi pi-verified"></span>
              </div>
              <div class="col-9 flex justify-content-center">
                <p class="m-0">Nivel intermedio</p>
              </div>
              <div class="col-2">
                <span
                  style="cursor: pointer"
                  class="pi pi-info-circle"
                  pTooltip="Nivel intermedio:
                Poseer una solida compresión y habilidad practica en las técnicas básicas de manicura"
                  tooltipPosition="top"
                ></span>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-9 pl-3">
          <h3>¿Qué ofrece este curso?</h3>
          <p>
            En este curso, perfeccionarás tu manejo del torno con precisión y
            seguridad, así como técnicas avanzadas de limado, pulido y diseño de
            uñas. Desarrollarás habilidades especializadas para lograr acabados
            impecables, proporcionar un brillo duradero y remover productos como
            gel y acrílico de manera segura. Además, explorarás el uso creativo
            del torno para ofrecer diseños únicos y aprenderás a mantener tu
            equipo en condiciones óptimas. Al concluir el curso, habrás mejorado
            significativamente tus competencias técnicas y creativas, lo que te
            permitirá ofrecer un servicio de manicura de la más alta calidad.
            ¡Inscríbete y lleva tus habilidades al siguiente nivel!
          </p>
          <p-divider />
          <h3>Programa</h3>
          <p>
            En este curso, perfeccionarás tu manejo del torno con precisión y
            seguridad, así como técnicas avanzadas de limado, pulido y diseño de
            uñas. Desarrollarás habilidades especializadas para lograr acabados
            impecables, proporcionar un brillo duradero y remover productos como
            gel y acrílico de manera segura. Además, explorarás el uso creativo
            del torno para ofrecer diseños únicos y aprenderás a mantener tu
            equipo en condiciones óptimas. Al concluir el curso, habrás mejorado
            significativamente tus competencias técnicas y creativas, lo que te
            permitirá ofrecer un servicio de manicura de la más alta calidad.
            ¡Inscríbete y lleva tus habilidades al siguiente nivel!
          </p>
          <div class="grid">
            <div class="col-6 flex">
                <p-button
                  class="flex align-items-center mr-3"
                  label="Comprar"
                  severity="secondary"
                  (click)="onBuyClick()"
                ></p-button>
              
                <p-button
                  class="flex align-items-center"
                  label="Añadir a favoritos"
                  severity="contrast"
                  (click)="onAddToFavoritesClick()"
                ></p-button>
              </div>
              
            <div class="col-6 flex justify-content-end">
              <p-button
                icon="pi pi-share-alt"
                class="flex align-items-center mr-3"
                label="Compartir"
                severity="secondary"
                (onClick)="showDialog()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-divider />
    <div class="ubication">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.2120209373516!2d-64.15664608932987!3d-31.380716894419706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329823e13943d9%3A0x46a784a043ad6063!2sAv.%20del%20Trabajo%202202%2C%20X5012%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1727874746160!5m2!1ses!2sar" 
          width="100%" 
          height="450" 
          style="border:0;" 
          allowfullscreen 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      
    <p-divider />
    
    <card-certificate></card-certificate>
</div>
<p-divider />
  <card-share [(visible)]="isDialogVisible" />
  <div class="div">
    <div class="col-12">
        <h2>Políticas de uso</h2>
    </div>
    <div class="grid">
      <div class="col-4">
        <h3>Higiene y seguridad</h3>
        <ul class="pr-5">
          <li>
            Todos los instrumentos utilizados en las clases prácticas deben ser
            desinfectados antes y después de cada uso.
          </li>
          <li>
            Los materiales desechables deben emplearse una única vez y
            desecharse adecuadamente.
          </li>
          <li>
            Se recomienda el uso de guantes por parte de estudiantes e
            instructores, así como el uso de equipo de protección personal (EPP)
            cuando sea necesario.
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Provision de materiales</h3>
        <ul class="pr-5">
          <li>
            La academia no se responsabiliza por el suministro de herramientas o
            materiales.
          </li>
          <li>
            Cada estudiante debe adquirir los insumos necesarios según la lista
            proporcionada antes del inicio del curso.
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Fecha de los cursos</h3>
        <ul class="pr-5">
          <li>
            Las fechas de los cursos son fijas y no pueden ser modificadas.
          </li>
          <li>
            Los estudiantes son responsables de asistir en las fechas y horarios
            establecidos.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Modal para vista previa de la imagen -->
  <div>
    <!-- Modal con carrusel -->
    <p-dialog
      [(visible)]="displayModal"
      [modal]="true"
      [style]="{ width: '70vw', overflow: 'hidden' }"
      (onHide)="hideDialog()"
    >
      <p-carousel
        [value]="images"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [style]="{ overflow: 'hidden' }"
      >
        <ng-template let-image pTemplate="item">
          <img
            [src]="image"
            style="max-height: 400px; width: auto; border-radius: 10px"
          />
        </ng-template>
      </p-carousel>
    </p-dialog>
  </div>
</div>
<p-dialog header="No iniciaste sesión" [(visible)]="showAuthModal" [style]="{'width': '30vw'}">
    <p class="p-5">Debes iniciar sesión para realizar esta acción.</p>
    <p-footer>
      <button pButton type="button" label="Ir al login" icon="pi pi-sign-in" (click)="goToLogin()"></button>
    </p-footer>
</p-dialog>
<p-toast />
