<footer class="pb-1">
  <div class="grid">
    <div class="col-6 flex align-items-center justify-content-center">
      <img src="../../../../assets/logoLlamitra.svg" alt="Logo llamitra" />
      <p>LLAMITRA Y ASOC.</p>
    </div>
    <div class="col-6 flex align-items-center justify-content-center">
      <span class="pi pi-facebook"></span>
      <span class="pi pi-twitter"></span>
      <span class="pi pi-linkedin"></span>
      <span class="pi pi-instagram"></span>
    </div>
  </div>
  <div class="grid flex justify-content-center">
    <p-divider />
  </div>
  <div class="grid">
    <div class="col-4">
      <h3 class="flex justify-content-center">Explora</h3>
      <p class="flex justify-content-center">Home</p>
      <p class="flex justify-content-center">Sobre nosotros</p>
      <p class="flex justify-content-center">Cursos</p>
      <p class="flex justify-content-center">Contactanos</p>
    </div>
    <div class="col-4">
      <h3 class="flex justify-content-center">Páginas de utilidad</h3>
      <p class="flex justify-content-center">Politicas de privacidad</p>
      <p class="flex justify-content-center">Condiciones de uso</p>
    </div>
    <div class="col-4">
      <h3 class="flex justify-content-center">Localizanos en</h3>
      <p class="flex justify-content-center"><span class="pr-1">Direccion: </span>Colon 525 Piso Nº2 </p>
      <p class="flex justify-content-center"><span class="pr-1">Mail:</span> zatyacademia&#64;gmail.com</p>
      <p class="flex justify-content-center"><span class="pr-1">Telefono:</span> (+54) 351 - 4567 - 900</p>
    </div>
  </div>
  <div class="grid flex justify-content-center">
    <p><img src="../../../../assets/copyright.svg" alt="copyrigth" width="12px">2024, Llamitra | Todos los derechos reservados.</p>
  </div>
</footer>
